table,th {
    width: 550px;
    border-collapse:collapse;
    margin: auto;
    
    border: 2px solid black;
    padding: 0;
}
table td {
    position: relative;
    text-align: center;
    border: 2px solid black;
    padding: 0;
    margin: 0;
}

.health{
    text-align: center;
}